body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Quicksand";
  letter-spacing: 2px;
  background: rgb(126, 202, 21);
  background: radial-gradient(circle, rgb(22, 172, 29) 0%, rgb(8, 72, 7) 100%);
  overflow: hidden;
}

button {
  color: #fff;
  background: transparent;
  font-size: 1em;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  padding: 10px 30px;
}
